pipeline_stepfunction.json
{
    "Comment": "SageMaker MLOps Pipeline with Step Functions",
    "StartAt": "DataFetch",
    "States": {
      "DataFetch": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
        "Parameters": {
          "ProcessingJobName.$": "States.Format('data-fetch-{}', $.ExecutionId)",
          "RoleArn": "arn:aws:iam::269897083978:role/SageMakerExecRole-pro-ai",
          "AppSpecification": {
            "ImageUri": "269897083978.dkr.ecr.us-east-1.amazonaws.com/ml-pipeline-components:data_fetcher"
          },
          "ProcessingInputs": [
            {
              "InputName": "raw_data",
              "S3Input": {
                "S3Uri.$": "$.input_data_s3_uri",
                "LocalPath": "/opt/ml/processing/input",
                "S3DataType": "S3Prefix",
                "S3InputMode": "File"
              }
            }
          ],
          "ProcessingOutputConfig": {
            "Outputs": [
              {
                "OutputName": "fetched_data",
                "S3Output": {
                  "S3Uri": "s3://mlops-data01/mlops-pipeline/data/fetched",
                  "LocalPath": "/opt/ml/processing/output",
                  "S3UploadMode": "EndOfJob"
                }
              }
            ]
          },
          "ProcessingResources": {
            "ClusterConfig": {
              "InstanceType": "ml.m5.xlarge",
              "InstanceCount": 1,
              "VolumeSizeInGB": 30
            }
          }
        },
        "Next": "PreprocessData"
      },
  
      "PreprocessData": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
        "Parameters": {
          "ProcessingJobName.$": "States.Format('preprocess-{}', $.ExecutionId)",
          "RoleArn": "arn:aws:iam::269897083978:role/SageMakerExecRole-pro-ai",
          "AppSpecification": {
            "ImageUri": "269897083978.dkr.ecr.us-east-1.amazonaws.com/ml-pipeline-components:preprocess"
          },
          "ProcessingInputs": [
            {
              "InputName": "raw_data",
              "S3Input": {
                "S3Uri": "s3://mlops-data01/mlops-pipeline/data/fetched",
                "LocalPath": "/opt/ml/processing/input",
                "S3InputMode": "File",
                "S3DataType": "S3Prefix"
              }
            }
          ],
          "ProcessingOutputConfig": {
            "Outputs": [
              {
                "OutputName": "train_data",
                "S3Output": {
                  "S3Uri": "s3://mlops-data01/mlops-pipeline/data/train",
                  "LocalPath": "/opt/ml/processing/output/train",
                  "S3UploadMode": "EndOfJob"
                }
              },
              {
                "OutputName": "test_data",
                "S3Output": {
                  "S3Uri": "s3://mlops-data01/mlops-pipeline/data/test",
                  "LocalPath": "/opt/ml/processing/output/test",
                  "S3UploadMode": "EndOfJob"
                }
              }
            ]
          },
          "ProcessingResources": {
            "ClusterConfig": {
              "InstanceType": "ml.m5.xlarge",
              "InstanceCount": 1,
              "VolumeSizeInGB": 30
            }
          }
        },
        "Next": "TrainModel"
      },
  
      "TrainModel": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
        "Parameters": {
          "TrainingJobName.$": "States.Format('train-{}', $.ExecutionId)",
          "RoleArn": "arn:aws:iam::269897083978:role/SageMakerExecRole-pro-ai",
          "AlgorithmSpecification": {
            "TrainingImage": "269897083978.dkr.ecr.us-east-1.amazonaws.com/ml-pipeline-components:train",
            "TrainingInputMode": "File"
          },
          "OutputDataConfig": {
            "S3OutputPath": "s3://mlops-data01/mlops-pipeline/models"
          },
          "InputDataConfig": [
            {
              "ChannelName": "train",
              "DataSource": {
                "S3DataSource": {
                  "S3Uri": "s3://mlops-data01/mlops-pipeline/data/train",
                  "S3DataType": "S3Prefix",
                  "S3DataDistributionType": "FullyReplicated"
                }
              }
            }
          ],
          "ResourceConfig": {
            "InstanceType": "ml.m5.large",
            "InstanceCount": 1,
            "VolumeSizeInGB": 30
          },
          "StoppingCondition": {
            "MaxRuntimeInSeconds": 3600
          }
        },
        "Next": "EvaluateModel"
      },
  
      "EvaluateModel": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
        "Parameters": {
          "ProcessingJobName.$": "States.Format('evaluate-{}', $.ExecutionId)",
          "RoleArn": "arn:aws:iam::269897083978:role/SageMakerExecRole-pro-ai",
          "AppSpecification": {
            "ImageUri": "269897083978.dkr.ecr.us-east-1.amazonaws.com/ml-pipeline-components:evaluate"
          },
          "ProcessingInputs": [
            {
              "InputName": "model",
              "S3Input": {
                "S3Uri.$": "$.ModelArtifacts",
                "LocalPath": "/opt/ml/processing/model",
                "S3DataType": "S3Prefix",
                "S3InputMode": "File"
              }
            },
            {
              "InputName": "test_data",
              "S3Input": {
                "S3Uri": "s3://mlops-data01/mlops-pipeline/data/test",
                "LocalPath": "/opt/ml/processing/input",
                "S3DataType": "S3Prefix",
                "S3InputMode": "File"
              }
            }
          ],
          "ProcessingOutputConfig": {
            "Outputs": [
              {
                "OutputName": "evaluation",
                "S3Output": {
                  "S3Uri": "s3://mlops-data01/mlops-pipeline/evaluation",
                  "LocalPath": "/opt/ml/processing/evaluation",
                  "S3UploadMode": "EndOfJob"
                }
              }
            ]
          }
        },
        "Next": "RegisterModel"
      },
  
      "RegisterModel": {
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:sagemaker:createModelPackage",
        "Parameters": {
          "ModelPackageGroupName": "MLOpsModelPackageGroup",
          "ModelMetrics": {
            "ModelQuality": {
              "Statistics": {
                "S3Uri": "s3://mlops-data01/mlops-pipeline/evaluation/evaluation.json",
                "ContentType": "application/json"
              }
            }
          },
          "InferenceSpecification": {
            "Containers": [
              {
                "Image": "269897083978.dkr.ecr.us-east-1.amazonaws.com/ml-pipeline-components:train",
                "ModelDataUrl.$": "$.ModelArtifacts"
              }
            ],
            "SupportedContentTypes": ["text/csv"],
            "SupportedResponseMIMETypes": ["text/csv"]
          },
          "ApprovalStatus": "Approved"
        },
        "Next": "DeployModel"
      },
  
      "DeployModel": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createEndpoint.sync",
        "Parameters": {
          "EndpointName": "mlops-endpoint",
          "EndpointConfigName": "mlops-endpoint-config"
        },
        "End": true
      }
    }
  }
  